<div class="center well">
  <h1>Load Monitor</h1>
</div>

<body>
  <div class="panel panel-default">
    <%= javascript_include_tag "dynamic_viz_test.js" %>
  </div>
  <a href="javascript:void(0)" class="add-data action-button">Add data</a>
  <a href="javascript:void(0)" class="remove-data action-button destroy">Delete data</a>
</body>
