<body>

  <div class="row show-grid">
    <div class="span4" id="alert-col">
      <strong>Alert</strong> <font color="green">Clear</font></br>
      <strong>Alert started</strong> 2:09 PM Feb 27, 2014 (EST)</br>     
      <strong>2m Load</strong> 0.5
    </div>
    <div class="span4" id="uptime-col">
      <strong>Uptime</strong> 5 days, 52 mins</br>
      <strong>Users</strong> 3</br>
      <strong>Time</strong> 2:09 PM Feb 27, 2014 (EST)
    </div>
    <div class="span4" id="load-col">
      <strong>1m Load</strong> 0.5</br>
      <strong>5m Load</strong> 0.5</br>
      <strong>15m Load</strong> 0.5
    </div>
  </div>

  <div class="btn-group" data-toggle="buttons-radio">
    <button type="button" id = "select-one" class="btn btn-primary active">One minute average</button>
    <button type="button" id = "select-two" class="btn btn-primary">Two minute average</button>
  </div>

  <div id = "graph"></div>
  <%= javascript_include_tag "/javascripts/dynamic_viz.js" %>

  <!-- Alert messages will go here -->
  <div id = "alert_placeholder"></div>

  <!-- Clear messages will go here -->
  <div id = "clear_placeholder"></div>
</body>
